<!DOCTYPE html>
<html>
<head>
  <title>Coatí</title>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
  
  <%= stylesheet_link_tag "application" %>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag params[:controller] %>
  
  <!--basic styles-->
  <!-- <link href="http://responsiweb.com/themes/preview/ace/1.4/dist/css/bootstrap.min.css" rel="stylesheet"> -->
  
  <!-- <%= stylesheet_link_tag "css/bootstrap.min.css", "css/bootstrap-responsive.min.css" %> -->


  <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"> -->
  
  <!--[if IE 7]>
    <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
  <![endif]-->

  <!--page specific plugin styles-->

  <%= stylesheet_link_tag params[:controller] %>

  <!--fonts-->

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

  <!--ace styles-->
    
  <%= stylesheet_link_tag  "css/ace.min.css", "css/ace-skins.min.css" %>

  <!-- <link href="http://responsiweb.com/themes/preview/ace/1.4/dist/css/ace.min.css" rel="stylesheet"> -->

  <%= javascript_include_tag "jquery-2.0.3.min" %>

  <%= javascript_include_tag "application" %>

  <!-- <%= javascript_include_tag "js/bootstrap.min" %> -->

  <%= javascript_include_tag "js/ace-elements.min.js" %>
  <%= javascript_include_tag "js/ace.min.js" %>

  

  <%= javascript_include_tag params[:controller] %> 

</head>
<body class="no-skin">
  
  <script type="text/javascript">
    dateServerRender = function  () {
      return "<%=date_server%>"  
    }
  </script>


  <!-- Encabezado -->
  <div id="navbar" class="navbar navbar-default">    
    <div id="navbar-container" class="navbar-container">
  
      <%= render 'layouts/header' %>

    </div>
  </div>

  <!-- Contenedor Principal -->
  <div class="main-container" id="main-container">
    <!-- SideBar -->
    
    <div class="sidebar responsive " id="sidebar">
      <!-- ShortCuts Iconos Arriba -->
      <%= render 'layouts/sidebar_shortcuts' %>
    
      <ul class="nav nav-list" >
        <!-- Lista de Navegacion -->
        <%= render 'layouts/sidebar_navs' %>

      </ul>
      <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
      </div>

    </div>

    <!-- Contenedor de Contenido -->
    <div id="main-content" class="main-content">
      <div id="main-content-inner" class="main-content-inner">

        <!-- breadcrumbs -->
        <div class="breadcrumbs" id="breadcrumbs">

          <%= render 'layouts/breadcrumb' %>

        </div>

        <row>
          <div class="col-xs-12">

            <%= yield %>  
          
          </div>
        </row>

        </div>
      </div>
    </div>
  
  </div>
  
</body>
</html>